*, *:before, *:after {
  box-sizing: border-box; }

.bgOr {
  background-color: #d59667; }

.bgWa {
  background-color: #7789A9; }

.bgTi {
  background-color: grey; }

.bgRe {
  background-color: #ecd018; }

.bgMi {
  background-color: #d1228b; }

.bgNc {
  background-color: #009747; }

.bgOm {
  background-color: #678f33; }

.bgRo {
  background-color: #9b5dca; }

.bgMo {
  background-color: #efb162; }

.bgOrBorder {
  border: 2px #d59667 solid; }

.bgWaBorder {
  border: 2px #7789A9 solid; }

.bgTiBorder {
  border: 2px grey solid; }

.bgReBorder {
  border: 2px #ecd018 solid; }

.bgMiBorder {
  border: 2px #d1228b solid; }

.bgNcBorder {
  border: 2px #009747 solid; }

.bgOmBorder {
  border: 2px #678f33 solid; }

.bgRoBorder {
  border: 2px #9b5dca solid; }

.bgMoBorder {
  border: 2px #efb162 solid; }

* {
  box-sizing: border-box; }

html {
  overflow: -moz-scrollbars-vertical;
  overflow-y: scroll; }

body {
  font-size: 17px;
  font-family: 'Oxygen Mono', monospace;
  margin: 0; }

.new-header {
  background-color: #015294;
  display: flex;
  margin-bottom: 1rem;
  padding: .5rem;
  padding-bottom: 0; }
  .new-header h1 {
    margin: 0;
    margin-bottom: .5rem; }

.viewIn {
  padding: .5rem; }

.header-menu-area {
  flex: 1;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

.header-menu-top {
  text-align: right;
  font-size: .9rem;
  color: deepskyblue; }

.eraAt {
  color: darkgray; }

.nav-panel {
  display: flex;
  justify-content: space-between; }

.navtab {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border: 1px transparent solid;
  border-bottom: 1px;
  font-size: 1rem;
  padding: .2rem 1rem;
  background-color: darkgray; }
  .navtab--active {
    background-color: white;
    border: 1px transparent solid;
    outline: none; }

.selectStandard {
  font-size: 1.2rem;
  padding: 3px; }

#availableEq {
  text-align: center;
  margin-bottom: .5rem; }

.up4bid-area {
  font-family: Arial, Helvetica, sans-serif; }

#biddableInitialAmount {
  width: 3rem; }

#overviewPanel {
  margin-bottom: 1rem; }

.rowOverview {
  display: flex;
  margin-bottom: 1px;
  align-items: center; }
  .rowOverview > * {
    margin-right: 30px; }

.overviewCol1 {
  width: 270px;
  text-align: right;
  margin-right: 20px;
  display: inline-block; }

.overviewColx {
  width: 125px;
  text-align: center; }

.standardBtn {
  height: 44px;
  border-radius: 4px;
  margin-right: 1rem;
  min-width: 80px; }
  .standardBtn--positive {
    background-color: lightgreen; }

.pcardRow {
  display: flex;
  margin-bottom: .5rem; }

.pcardRow > *, .pcardInsertionDiv > * {
  margin-right: 5px; }

.pcard-sort {
  font-size: 30px; }

.pcard-master {
  width: 80px;
  height: 44px;
  border-radius: 4px;
  margin-right: 1rem; }

.pcard {
  font-size: 37px;
  margin-right: 1rem;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 4px;
  padding: 0 1rem;
  color: black;
  border-color: black;
  position: relative;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  background-color: #f6e9df;
  width: 80px;
  margin-bottom: 5px; }
  .pcard:active {
    background-color: lightgray; }
  .pcard_or {
    background-color: #f6e9df; }
    .pcard_or.pcard--selected {
      background-color: #d59667; }
  .pcard_wa {
    background-color: #d5dae4; }
    .pcard_wa.pcard--selected {
      background-color: #7789A9; }
  .pcard_ti {
    background-color: #cdcdcd; }
    .pcard_ti.pcard--selected {
      background-color: grey; }
  .pcard_re {
    background-color: #f8eda5; }
    .pcard_re.pcard--selected {
      background-color: #ecd018; }
  .pcard_mi {
    background-color: #ef9dce; }
    .pcard_mi.pcard--selected {
      background-color: #d1228b; }
  .pcard_nc {
    background-color: #31ff92; }
    .pcard_nc.pcard--selected {
      background-color: #009747; }
  .pcard_om {
    background-color: #b3d487; }
    .pcard_om.pcard--selected {
      background-color: #678f33; }
  .pcard_ro {
    background-color: #e2d0f0; }
    .pcard_ro.pcard--selected {
      background-color: #9b5dca; }
  .pcard_mo {
    background-color: #fdf6ed; }
    .pcard_mo.pcard--selected {
      background-color: #efb162; }

.cb1 {
  position: absolute;
  right: -7px;
  top: -7px;
  pointer-events: none; }

.factoryBtn {
  font-size: 37px;
  margin-right: 1rem;
  background-color: transparent;
  border: 1px black solid;
  border-radius: 4px;
  padding: 0 1rem;
  color: black;
  border-color: black;
  position: relative;
  outline: none;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  background-color: #f6e9df;
  width: 80px;
  margin-bottom: 5px; }
  .factoryBtn:active {
    background-color: lightgray; }
  .factoryBtn_Or {
    background-color: #d59667; }
  .factoryBtn_Wa {
    background-color: #7789A9; }
  .factoryBtn_Ti {
    background-color: grey; }
  .factoryBtn_Re {
    background-color: #ecd018; }
  .factoryBtn_Mi {
    background-color: #d1228b; }
  .factoryBtn_Nc {
    background-color: #009747; }
  .factoryBtn_ScientistsFactory {
    background-color: #ecd018;
    padding: 1rem 1rem; }
  .factoryBtn_OrbitalLabFactory {
    background-color: #d1228b;
    padding: 1rem 1rem; }
  .factoryBtn_Om {
    background-color: #678f33;
    padding: 1rem 1rem; }
  .factoryBtn_Ro {
    background-color: #9b5dca;
    padding: 1rem 1rem; }
  .factoryBtn_Mo {
    background-color: #efb162;
    padding: 1rem 1rem; }

.factoryBtn * {
  pointer-events: none; }

.highlightme {
  background-color: lightyellow; }

.highlightme2 {
  background-color: lightgreen; }

#cardSelectionPanel {
  display: flex;
  justify-content: space-between;
  margin-bottom: .8rem; }

.selectedSummaryNumbersArea1 {
  display: flex;
  align-items: center; }

.selectedSummaryNumbersArea2 {
  display: flex;
  justify-content: space-between; }

.numberSpacer {
  width: 36px; }
  .numberSpacerLeft {
    text-align: right; }
  .numberSpacerRight {
    text-align: left; }

.turnActionsContainer {
  display: flex; }

.turnActionRow {
  display: flex;
  margin-bottom: .8rem; }

.turnAction1 {
  display: flex;
  align-items: center; }

.turnAction1Inner {
  display: flex; }

.turnAction1InnerGroup2 {
  display: flex;
  align-items: center; }

.turnAction2 {
  display: flex;
  align-items: center;
  margin-left: 3rem; }

.turnAction2Inner {
  display: flex; }

.turnAction2InnerGroup2 {
  display: flex;
  align-items: center; }

.selectArea1 {
  display: flex; }

.selectLockArea {
  display: flex; }

.buyNumberInput {
  width: 3rem;
  font-size: 1.1rem;
  padding-left: .5rem;
  margin-right: .5rem; }

#purchaseError {
  color: red; }

#bidError {
  color: red; }

#counterBidError {
  color: red; }

.vpLeader {
  color: deepskyblue; }

.turnOver {
  color: red; }

.biddingPlayerListArea {
  display: flex; }

.biddingPlayerBox {
  border: 1px black solid;
  padding: 15px;
  margin-right: 20px;
  margin-bottom: 10px; }

.biddingEqUpForBidDesc--desc {
  border: 1px black solid;
  display: inline-block;
  padding: 1rem;
  border-radius: 10px; }

#biddingEqUpForBidDesc--actionsArea {
  margin-bottom: 1rem; }

.eqUpForBidContainer {
  display: flex; }

#displayDiscountContainer {
  padding: 1rem;
  padding-left: 3rem; }

.refAbbreviationsUl {
  list-style: none; }
  .refAbbreviationsUl li {
    margin-bottom: 7px; }

.input-group {
  margin-bottom: 1rem; }

.cpuNameField {
  display: flex; }
  .cpuNameField > div:first-child {
    margin-right: 1rem; }

.cpuNameCol {
  width: 150px; }

.greenspan {
  color: green; }

.hideme {
  display: none; }

.uxform-container {
  margin-bottom: 1.5rem; }

.uxform-textfield {
  background-color: #fff;
  border-radius: 8px;
  border: 2px solid #c3d5e1;
  border-color: #c3d5e1;
  border-color: #c3d5e1;
  box-sizing: border-box;
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  padding: .4rem 1rem;
  width: 100%; }
  .uxform-textfield:invalid {
    box-shadow: none; }

.uxform-button {
  box-sizing: border-box;
  background-color: #357c08;
  border: 1px transparent solid;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5rem;
  padding: .719em 1.5em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: background-color .3s linear; }
  .uxform-button:hover {
    background-color: #015294; }
  @media (min-width: 768px) {
    .uxform-button {
      width: auto; } }

.uxform-button--block {
  box-sizing: border-box;
  background-color: #357c08;
  border: 1px transparent solid;
  border-radius: 8px;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  font-weight: 400;
  line-height: 1.5rem;
  padding: .719em 1.5em;
  text-align: center;
  text-decoration: none;
  width: 100%;
  transition: background-color .3s linear;
  display: block; }
  .uxform-button--block:hover {
    background-color: #015294; }
  @media (min-width: 768px) {
    .uxform-button--block {
      width: auto; } }
  @media (min-width: 768px) {
    .uxform-button--block {
      width: 100%; } }

.uxform-select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-color: #fff;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAYCAYAAADOMhxqAAAAAXNSR0IArs4c6QAAAZJJREFUOBHVk7FKw1AUhnOTUIcGXESK4NqhSxO6SS04FlzEZxChOLi6SMFFH0F8BvUVSi1OlrRLIbNDWywYtUulTfz/0BPSNH0AL1zOOf/57r3nXs7VtIxRLpdPODNSmkqLlUplez6fD6ibplnqdrtfSUZPBvQB34VhuMdJP51fOQFlVAG2AYkeKqVq/X6/IwvjE+r1+hbghwRMRlFjThYY4uTz+Wv4pxIn7M50Og3G43GLWnS04zilxWLhIs5RzBi/hmE4rusO9GazqQdBwFI2wVyfI0PW8H2/gTrPM3ZNS/ue532YUH3MRjq7If7eoP8rWaEdnvBKmZ2Zvgna5FnHuICz0pFpkDEZssZoNPopFAqf0I6zQNGw4LLX67Wi1kBJyrbtNmxVgKQF3AFcgw2jbqWDz3IGaJYEl/6MOTKM424dDocTlMYNjpZgZADeoOkeRYv/A4VisXgLIPqejOlToy9DfpbEGu5ygM58oYBXOUTtr3ESTlySiHi1d5S2i93f8DXvRRfLbl0blmVdrYlL4Q8yaI6pSwQXRQAAAABJRU5ErkJggg==");
  background-position: calc(100% - 12px) 50%;
  background-repeat: no-repeat;
  border-radius: 8px;
  border: 2px solid #c3d5e1;
  box-sizing: border-box;
  color: #000;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  padding: .4rem 1rem;
  width: 100%; }

.uxform-textarea {
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #c3d5e1;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  padding: .4rem 1rem;
  width: 100%;
  cursor: ns-resize;
  resize: vertical;
  overflow: auto; }

.uxform-label {
  box-sizing: border-box;
  color: #5a7184;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  font-weight: 400;
  margin-bottom: .3rem; }

.uxform-required {
  box-sizing: border-box;
  color: red;
  font-family: "Open Sans", sans-serif;
  font-size: inherit;
  font-weight: bolder; }

/*
 * WTF, forms?
 * Released under MIT and copyright 2014 Mark Otto.
 * http://wtfforms.com
 *
 * Embedded icons from Open Iconic.
 * Released under MIT and copyright 2014 Waybury.
 * http://useiconic.com/open
 */
.uxform-fieldset {
  border: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
  flex-direction: column; }
  .uxform-fieldset > legend {
    padding: 0;
    display: none; }

.uxform-stacked label {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px; }
  @media (min-width: 768px) {
    .uxform-stacked label {
      margin-bottom: 10px; } }

fieldset.uxform-stacked label:last-child {
  margin-bottom: 0; }

.uxform-inline label {
  margin-right: 1rem; }
  .uxform-inline label:last-of-type {
    margin-right: 0; }

/*
 * Checkboxes and radios
 */
.uxform-custom-ui {
  position: relative;
  display: inline-flex;
  align-items: flex-start;
  padding-left: 1.5rem;
  cursor: pointer; }

.uxform-custom-ui input {
  position: absolute;
  opacity: 0;
  z-index: -1; }

.uxform-control-indicator {
  position: absolute;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1rem;
  font-size: 65%;
  color: #eee;
  text-align: center;
  background-color: white;
  background-size: 50% 50%;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px darkgray solid;
  margin-top: .25em; }

/* Focus */
.uxform-custom-ui input:focus ~ .uxform-control-indicator {
  box-shadow: 0 0 0 0.075rem #fff, 0 0 0 0.2rem #0074d9; }

/* Checked state */
.uxform-custom-ui input:checked ~ .uxform-control-indicator {
  color: #fff;
  background-color: #0074d9; }

/* Active */
.uxform-custom-ui input:active ~ .uxform-control-indicator {
  color: #fff;
  background-color: #84c6ff; }

/* Checkbox modifiers */
.uxform-checkbox {
  font-family: "Open Sans", sans-serif;
  font-size: inherit; }

.uxform-checkbox .uxform-control-indicator {
  border-radius: .25rem; }

.uxform-checkbox input:checked ~ .uxform-control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTYuNCwxTDUuNywxLjdMMi45LDQuNUwyLjEsMy43TDEuNCwzTDAsNC40bDAuNywwLjdsMS41LDEuNWwwLjcsMC43bDAuNy0wLjdsMy41LTMuNWwwLjctMC43TDYuNCwxTDYuNCwxeiINCgkvPg0KPC9zdmc+DQo=); }

/* Radio modifiers */
.uxform-radio {
  font-family: "Open Sans", sans-serif;
  font-size: inherit; }

.uxform-radio .uxform-control-indicator {
  border-radius: 50%; }

.uxform-radio input:checked ~ .uxform-control-indicator {
  background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAxNy4xLjAsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjwhRE9DVFlQRSBzdmcgUFVCTElDICItLy9XM0MvL0RURCBTVkcgMS4xLy9FTiIgImh0dHA6Ly93d3cudzMub3JnL0dyYXBoaWNzL1NWRy8xLjEvRFREL3N2ZzExLmR0ZCI+DQo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgOCA4IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDAgMCA4IDgiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHBhdGggZmlsbD0iI0ZGRkZGRiIgZD0iTTQsMUMyLjMsMSwxLDIuMywxLDRzMS4zLDMsMywzczMtMS4zLDMtM1M1LjcsMSw0LDF6Ii8+DQo8L3N2Zz4NCg==); }

/**
 * Validation styles */
/* Applying an error class means we keep browser level feedback, error handling, and focus management. */
.uxform-error-summary {
  background-color: rgba(231, 86, 86, 0.15);
  font-family: "Open Sans", sans-serif;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  padding: 1rem; }

.uxform-error-summary-highlight {
  color: #b33535; }

.uxform-textfield.error,
.uxform-select.error,
.uxform-textarea.error {
  background-color: rgba(231, 86, 86, 0.15);
  border-color: #b33535;
  box-shadow: none; }

.uxform-textfield.error:valid,
.uxform-select.error:valid,
.uxform-textarea.error:valid {
  background-color: #fff;
  border-color: #c3d5e1; }

/* util */
.uxform-hideme {
  display: none !important; }
